<div>
  <h1>Welcome to {{ title }}!</h1>
</div>

<app-task-list></app-task-list>
<br><br>
<section>
  @if (tasks.length > 0) {
    <h2>Lista de Tareas</h2>
    <ng-container *ngFor="let task of tasks">
      <app-task-item
        [task]="task"
        (edit)="editTask(task)"
        (delete)="deleteTask(task.id)">
      </app-task-item>
    </ng-container>
  } @else {
    <p>No hay tareas aún.</p>
  }
  <input type="text" placeholder="Nueva tarea" [(ngModel)]="newTask" />
  <button (click)="addTask(task)"[disabled]="editedTask">Agregar</button>
  
    <input type="text" placeholder="Actualizar tarea" [(ngModel)]="editedTask" />
    <button (click)="updateTask()">Actualizar</button>
 
</section>
<br><br>
